
#container{
	
	width: 80%;
	margin: 0px auto 0px auto;
	border: 3px double #990000; 
	border-style: solid;
	border-width: 5px;
}
#nome {
	border-width: 0px;
	width: 92%;
}
#CodigodoAluno {
	border-width: 0px;
	width: 27%;
}
#E-mail {
	border-width: 0px;
	width: 70%;
}
body {
	background-color: white;
}

h1 {
	color: black;
	font-family: "arial";
	font-size: 30px;
	text-align: center;
}
input::-webkit-input-placeholder{
	color: black;
	font-family: "arial";
	font-size: 14px;
}
h2 {
	color: black;
	font-family: "arial";
	font-size: 13px;
}

input#campo-nome{
	text-align:center; 
	width: 650px;
	margin-left: 100px; 
	
}
.form-group{
	text-align:center; 
	
}
input#campo-idade{
	text-align:center; 
	width: 650px;
	margin-left: 100px;
	
}
input#txt_name{
	text-align:center; 
	width: 650px;
	margin-left: 100px;
	
}

