
#container{
	background-color:opx;
	width: 80%;
	height: 100%;
	margin: 0px auto 0px auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}
nome {
	border-width: 0px;
	width: 92%;
}
CodigodoAluno {
	border-width: 0px;
	width: 27%;
}
E-mail {
	border-width: 0px;
	width: 70%;
}
body {
	background-color: white;
}

h1 {
	color: black;
	font-family: "arial";
	font-size: 30px;
	text-align: center;
}
input::-webkit-input-placeholder{
	color: black;
	font-family: "arial";
	font-size: 14px;
}
h2 {
	color: black;
	font-family: "arial";
	font-size: 13px;
}

input#campo-nome{
	width: 50px;
	margin-left: 50px;
	
}
